@import '../../styles/utils/colors';
@import '../../styles/utils/mixins';
@import '../../styles/utils/breakpoints';

.learningModule {
    &__header {
        text-align: center;
    }

    &__title {
        margin: 25px 10px;
        color: $morning-sky;
        font-weight: 600;
        font-size: 1.5em;
        /* Align the title to the left. ✅*/
        @media screen and (max-width: $mobile){
            text-align: start;
        }
    }
    /*  
    Don't display the subheader on each question. 
    (We'll hide it for now and find a better solution in a subsequent assignment.) 
    */
    &__subHeader{
        @include subheader;
        min-height: 42px;
        @media screen and (max-width: $mobile){
            display: none;
        }
    }
  
    &__answerArea {
        background-color: white;
        box-shadow: 0px 0px 20px -15px;
        padding: 0px 0px 20px 0;
        border-radius: 10px;
        display: grid;
        justify-content: center;
        @media only screen and (max-width: $tablet) {
            border-radius: unset;
        }
        /*White container for the answers is removed.*/
        @media only screen and (max-width: $mobile) {
            background-color: transparent;
            box-shadow: none;

        }

    }

    &__selections{ 
        padding: 30px 0;
        display: grid;
        grid-auto-flow: column;
        grid-gap: 10px;
        // 2x2 grid for table and mobile
        @media screen and (max-width: $tablet ){
            grid-template-rows: 1fr 1fr;
            justify-content: space-evenly;
            grid-gap: 30px;
        }
        @media screen and (max-width: $mobile ){
            grid-gap: 10px;
            grid-template-rows: 1fr 1fr;
            justify-content: center;
        }
    }

    &__submitButtonContainer {
        height: 50px;
        .submitButton {
            float: right;
            // center button for table and mobile 
            @media screen and (max-width: $tablet ){
                float: none;
                margin: auto;
                width: 80%; // Button for answer submission is full-width.???🤔
                text-align: center;
            }
        }
    }
}
